body {
    margin: 0px;
    /*overflow: hidden; */
  }
  
  circle {
    opacity : 1;
  }
  
  
  .tick text {
      font-size: 1em;
    fill: #635F5D;
    font-family: sans-serif;
  }
  
  form {
      display: flex;
  }